<div class="item active">
  <%= image_tag("slide-01.jpg", :alt => "slide-01") %>
    <div class="container">
      <div class="carousel-caption">
        <h1>PT Lonsum Bangun Rumah Pintar</h1>
          <p class="lead">Perusahaan karet PT London Sumatera (Lonsum) di Desa Tammatto, Kecamatan Ujung Loe, Kabupaten Bulukumba telah membangun rumah pintar di daerah itu.</p>
            <a class="btn btn-large btn-primary" href="http://twitter.github.com/bootstrap/examples/carousel.html#">Selengkapnya</a>
      </div>
    </div>
</div>
<div class="item">
  <%= image_tag("slide-02.jpg", :alt => "slide-02") %>
    <div class="container">
      <div class="carousel-caption">
        <h1>Dr Hasrullah ke Tribun Pamer Buku Baru</h1>
          <p class="lead">Dosen Komunikasi Politik Fakultas Ilmu Sosial dan Ilmu Politik (FISIP) Universitas Hasanuddin (Unhas) Makassar Dr Hasrullah M berkunjung di Redaksi Tribun Timur, Jl Cenderawasih, Makassar, Senin (4/2/13).</p>
            <a class="btn btn-large btn-primary" href="http://twitter.github.com/bootstrap/examples/carousel.html#">Selengkapnya</a>
      </div>
    </div>
</div>
<div class="item">
  <%= image_tag("slide-03.jpg", :alt => "slide-03") %>
    <div class="container">
      <div class="carousel-caption">
        <h1>Pelari Kenya Meriahkan HUT ke-40 Bosowa Corporation</h1>
          <p class="lead">Perusahaan karet PT London Sumatera (Lonsum) di Desa Tammatto, Kecamatan Ujung Loe, Kabupaten Bulukumba telah membangun rumah pintar di daerah itu.</p>
            <a class="btn btn-large btn-primary" href="http://twitter.github.com/bootstrap/examples/carousel.html#">Selengkapnya</a>
      </div>
    </div>
</div>