<h5>Wakil Gubernur Sulawesi Selatan</h5>
  <div class="side-photo">
    <%= image_tag("/assets/wagub.jpg") %>
  </div>
<h5>Informasi Wilayah</h5>
  <ul class="nav nav-list">
    <li><%= link_to "Informasi Wilayah", "#" %></li>
  </ul>
<h5>Informasi Desa & Kecamatan</h5>
  <ul class="nav nav-list">
    <li><%= link_to "Data Pejabat Desa & Kecamatan", "#" %></li>
    <li><%= link_to "Kode dan Data Wilayah Administrasi", "#" %></li>
  </ul>