<h5>Wakil Gubernur Sulawesi Selatan</h5>
Foto Wakil Gubernur Sulawesi Selatan
<h5>Informasi Wilayah</h5>
<ul class="nav nav-list">
  <li><%= link_to "Informasi Wilayah", "#" %></li>
</ul>
<h5>Informasi Desa & Kecamatan</h5>
<ul class="nav nav-list">
  <li><%= link_to "Informasi Desa & kecamatan", "#" %></li>
</ul>