<h5>Wakil Gubernur Sulawesi Selatan</h5>
  <div class="side-photo">
    <%= image_tag("/assets/wagub.jpg") %>
  </div>
<h5>Informasi Wilayah</h5>
  <ul class="nav nav-pills nav-stacked">
    <li><%= link_to image_tag("/assets/arrow.png") + " Informasi Wilayah", "#" %></li>
  </ul>
<h5>Informasi Desa & Kecamatan</h5>
  <ul class="nav nav-pills nav-stacked">
    <li><%= link_to image_tag("/assets/arrow.png") + " Data Pejabat Desa & Kecamatan", content_menu_r1_path %></li>
    <li><%= link_to image_tag("/assets/arrow.png") + " Kode dan Data Wilayah Administrasi", content_menu_r2_path %></li>
  </ul>